body {
    margin: 0;
    padding: 0;
}

header {
    padding-top: 200px;
    display: block;
    background-color: white;
    text-align: center;
}

.headeritems {
    display: inline-block;
    padding-right: 20px;
    font-size: 14px;
    color: #363636;
}

.headerleft {
    float: left;
    margin-top: 10px;
    margin-left: 10px;
}

.headerright {
    float: right;
}

.inputwrapper {
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: 20px;
    margin-left: auto;
    margin-right: auto;
    width: 430px;
    height: 42px;
    border-color: lightgray;
    border-width: .1px;
    border-style: solid;
    border-radius: 25px;
    margin-bottom: 25px;
}

.inputwrapper:hover {
    border-color: transparent;
    box-shadow: 0px 0.5px 4px 1px #d3d3d3;    
}

.searchbar {
    display: flex;
    margin-top: 13px;
    height: 20px;
    border: transparent;
    width: 350px;
}

.searchbar:focus {
    outline: none;
}

.navbar {
    position: fixed;
    top: 0;
    width: 100%;
    margin-top: 0;
}

ul {
    padding-left: 10px;
}

li {
    margin: 0;
    padding: 0;
    display: inline-block;
    padding: 0 15px 0 5px;
    font-size: 14px;
    color: #363636;
}

li:hover {
    font-style: normal;
}

a:link { text-decoration: none; }
a:visited { text-decoration: none; }
a:hover { text-decoration: underline; }
a:active { text-decoration: underline; }

.left-list {
    float: left;
}

.right-list {
    float: right;
}

#button {
    width: 70px;
    height: 30px;
    border-color: transparent;
    background-color: #457ee9;
    border-radius: 2px;
    color: white;
    font-size: 13px;
    text-align:center;
    font-weight: bold;
    margin-top: 0px;
    margin-right: 10px;
    padding-top: 0px;
}

#search {
    margin: 5px;
    height: 40px;
    width: 140px;
    border-color: transparent;
    border-width: .1px;
    border-style: solid;
    border-radius: 3px;
    color: #ededed;
}

#search:hover {
    border-color: lightgray;
    box-shadow: 0px 0.1px 2px 0px lightgray;    
}

.footer {
    position: fixed;
    bottom: 0;
    width: 100%;
    margin: 0;
    padding: 0;
    background-color: #ededed;
}